.container-fluid {
  height: 600px;
  background: url("../img/bg.jpg") no-repeat center center fixed; }

.menu {
  display: block;
  position: absolute;
  top: 5em;
  left: 5em;
  padding: 10px;
  background-color: rgba(46, 44, 44, 0.2); }
  .menu li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid red; }
    .menu li:hover {
      border: 0px;
      background-color: rgba(46, 44, 44, 0.2); }
    .menu li a {
      font-size: 20px;
      color: red;
      padding: 10px;
      margin: 10px; }
      .menu li a:hover {
        text-decoration: none; }

.shape {
  position: absolute;
  top: 150px;
  left: 130px;
  background-color: rgba(46, 44, 44, 0.2);
  border-radius: 50px; }
  .shape img {
    width: 150px;
    height: 150px;
    margin: 35px; }
  .shape h2, .shape p {
    color: red;
    text-align: center; }

#titleName {
  position: relative;
  top: 170px;
  text-align: center; }
  #titleName h1, #titleName p {
    color: white;
    font-size: 26px;
    font-family: serif;
    padding-bottom: 20px;
    color: #ffc41c; }

.btn-1 {
  background: rgba(255, 39, 27, 0.8);
  color: white;
  height: 50px;
  width: 70px;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  align: left; }

.soc_btns {
  display: inline-block;
  margin: 0 85px;
  border: 1px solid blue;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: green; }

.pluses {
  margin: 20px;
  padding: 20px; }

.food {
  background: url("../img/bg2.jpg") no-repeat center center;
  background-size: cover; }

.food .col-md-4 img {
  padding: 20px; }

.food .col-md-8 {
  margin: auto;
  background-color: rgba(46, 44, 44, 0.2); }
  .food .col-md-8 h2 {
    padding: 20px;
    color: red;
    text-align: center; }
  .food .col-md-8 p {
    font-size: 1.2em; }
